.profile-info__status {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 16px 0 0 0;
}

@media screen and (max-width: 970px) {
    .profile-info__status {
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    .profile-info__status {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
}

