.profile__edit {
    margin-top: 5px;
    margin-left: 15px;
}

.profile__edit:hover {
    opacity: 60%;
    transition: ease 0.3s;
}

@media screen and (max-width: 370px) {
    .profile__edit {
        margin: auto 0 auto 8px;
    }
}