.profile__status {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 16px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

@media screen and (max-width: 970px) {
    .profile__status {
        text-align: center;
    }
}

@media screen and (max-width: 370px) {
    .profile__status {
        font-size: 14px;
        margin: 0;
    }
}

