.footer__title {
    padding-top: 66px;
    padding-bottom: 60px;
    margin: 0;
    color: #545454;
    transition: ease 0.3s;
}

@media screen and (max-width: 970px) {
    .footer__title {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}