.popup__close {
    position: absolute;
    width: 50px;
    top: -40px;
    right: -30px;
    transition: ease 0.3s;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
}

.popup__close:hover {
    opacity: 60%;
}

@media screen and (max-width: 500px) {
    .popup__close {
        right: -10px;
        top: -50px;
    }
}