.profile-items__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 133%;  
    margin: 0; 
}

@media screen and (max-width: 370px) {
    .profile-items__name {
        font-size: 27px;
        line-height: 207%;
        text-align: center;
    }
}