.profile-items__edit {
    margin-top: 8px;
    margin-left: 15px;
}

.profile-items__edit:hover {
    opacity: 60%;
    transition: ease 0.3s;
}

@media screen and (max-width: 370px) {
    .profile-items__edit {
        margin: auto 0 auto 8px;
    }
}